body { 
    background-color: rgba(17, 17, 88, 0.664);
    background: linear-gradient(to right, rgb(35, 90, 163), rgb(1, 10, 19));
    width: 100%;
    height: 100%;

}

nav {
    
    justify-content: flex-start;
    position: relative;
    margin-bottom:0;
    background-color: rgba(0, 0, 0, 0.801);
    
}

ul {
    list-style-type: none;
    height: 100vh;
}



ul li a{
    color:white;
}

#nav ul li a:hover{
    font-weight: bold !important;
    color:white;
    text-decoration: none;
    border-bottom:2px solid  rgba(89, 211, 8, 0.774) !important; 
  
}
#nav ul li a.active{
    border-bottom:2px solid  rgba(89, 211, 8, 0.774) !important; 

}
#nav1 ul li a:hover{
    font-weight: bold !important;
    color:white;
    text-decoration: none;
    border-left:2px solid  rgba(89, 211, 8, 0.774) !important; 
  
}
#nav1 ul li a.active{
    border-left: 2px solid  rgba(89, 211, 8, 0.774) !important;
}
ul li a:hover{
    font-weight: bold !important;
    color:white;
    text-decoration: none;
}


.nav-2 {
    background-color: transparent;
    color:white ;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
   
}
.btnBorder {
    border-radius:40px;
    width:100%;
}

.nav-2 ul {
    height: 50px;
    width: 700%;
}
h1 {
    color:white;
}

p {
    color:white;
    justify-self: center;
}



.justify-content-center{
    font-size: 13px;
}



footer{
    background-color: rgba(128, 128, 128, 0.377);
}
.progress-bar{

width: 100%;
background-color: whitesmoke;
border-radius: 20px;
height: 4px;
margin-top: 10px;
margin-right: 10px;
margin-left: 10px;
}

@media screen and (max-width: 552px) {
    .fixed-top{
        display: inline-block;
    }
    .toggle {
        display: block;
    }
 }

@media screen and (max-width: 552px) { 
    nav {
        display: none;
       
    }

    .toggle {
        display: block;
    }

     .right-col {
        margin-left: 0;
    }
}


@media screen and (max-width: 673px) {
    .fixed-top{
        display: inline-block;
    }
    .toggle {
        display: block;
    }
 }

@media screen and (max-width: 674px) { 
    nav {
        display: none;
       
    }

    .toggle {
        display: block;
    }

     .right-col {
        margin-left: 0;
    }
}


@media screen and (min-width: 673px) { 
    .fixed-top {
        display: none;
       
    }

    .toggle {
        display: block;
    }

    
}


